.wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: aqua;
}


.game__table {
  border-collapse: collapse;
}


.game__table td {
  border: 1px solid gray;
  padding: 20px;
  cursor: pointer;
}


.values {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}


.values__li {
  display: flex;
  flex-direction: row;
}


.play {
  width: 200px;
  height: 100px;
  border: 2px solid goldenrod;
  background-color: aqua;
  color: blue;
  font-family: "Lucida Handwriting";
  font-size: 26pt;
  box-shadow: 2px 2px gray;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 10px;
}


.play:Hover {
  box-shadow: 4px 4px rgb(31, 30, 30);
}


.sudoku {
  min-width: 1000px;
  max-height: 100px;
  text-align: center;
  border: 2px solid black;
  box-shadow: 5px 5px goldenrod;
  border-radius: 50px;
}


.sudoku__text{
  margin: 0;
  font-family: "Brush Script MT";
  font-size: 50px;
  color: goldenrod;
  text-shadow: 1px 1px 2px black;
}


.active-field{
  background-color: goldenrod;
}


.field{
  background-color: rgb(130, 216, 216);
}


.number-button{
  min-width: 75px;
  min-height: 75px;
  font-family: "Brush Script MT";
  color: goldenrod;
  background-color: rgba(0, 255, 255, 0.849);
  font-size: 20pt;
  border: 1px solid gray;
  cursor: pointer;
}